@import "tailwindcss";

:root{
  --background:#faf8f3;
  --foreground:#162414;

  --primary:#0b3d2e;
  --secondary:#2f7d5a;
  --accent:#f59e0b;

  --muted:#eef3ec;

  --card:#ffffff;

  --border:#e5e7eb;
}

html{
  scroll-behavior:smooth;
}

body{
  background:var(--background);
  color:var(--foreground);
  font-family:Inter,sans-serif;
}

section{
  padding:90px 0;
}

.container{
  max-width:1280px;
  margin:auto;
  padding-inline:24px;
}